<! DOCTYPE HTML>
<html>
    <head>
        <title>一覧ページ</title>
    <body class = "container">
        <h1 class "display-4">タスク一覧</h1>
            <div class="form">
                <form method="post" action="/post">
                    <div class="title_box">
                        <input class="form_title" type="text" name="title"  /> 
                    </div>
                    <div class="box2">

                    </div>
                    <div class="box2">
                        <input class="form_due_day" type="date" name="due_day"  />
                    </div>
                    <input class="form_comment" type="text" name="comment"  /> 
                
                    <input type="submit" value="作成"/>
                </form>
            </div>                
    </body>
</html>